#! stdtmpl
#proc genHTMLPage(title, content: string): string =
#  result = ""
<html>
    <head>
        <title>$title</title>
    </head>

    <body>
        <p>$content</p>
    </body>
</html>

#proc newline(): string =
<br />
