#! stdtmpl
#proc genHtmlPage(title, content: string): string =
#  result = ""
<html>
    <head>
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <title>$title</title>
    </head>

    <body>
        <p>$content</p>
    </body>
</html>
